<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link href="initial.css" rel="stylesheet">
    <script src="http://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script type="text/javascript" src="initial.js"></script>
</head>
<body>
    <div id="container">
        <div id="content" class="hide">
            <div id="background" class="vcenter-inner">
                BACKGROUND PLACEHOLDER
            </div>
        
           <div id="cta">EXIT CTA</div>
        </div>
        <div id="loader">
            LOADING
        </div>
    </div>
</body>
</html>
