
border-radius(n)
   -webkit-border-radius n
   -moz-border-radius n
   border-radius n

.container
    border 1px solid
    width 348px
    height 248px
    font-family Arial
    position absolute

.btn-close
    pointer cursor
    position absolute
    top 5px
    right 5px
    width auto
    height auto

.btn-exit
    position absolute
    cursor pointer
    padding 8px
    background blue
    color #fff
    height auto
    border-radius 4px
    font-size 12px
    right 10px
    bottom 10px
  
